body {
    /* background-color: rgb(94, 172, 232); */
    background-color: rgb(250, 245, 260);
    color: grey;
    margin: 0;

    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    margin-left: 20px;

}

ul {
    display: inline-block;
    text-align: left;
}

.titleName {
    font-size: 80px;
    background-color: rgb(68, 151, 211);
    color: white;
    margin-left: -20px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.currentPositionName {
    font-size: 40px;
    margin-top: -20;
}

.profilePhoto {
    width: 100px;
    margin-right: 20px;
    margin-top: 30px;
}

.socialMediaIcons {
    background-color: rgb(51, 119, 168);
    margin-left: -20px;
    size: 20px;
}


.subTitles {
    color: rgb(11, 41, 79);
    margin-top: 70px;
}


.contactTitles {
    color: rgb(112, 120, 140);
    font-weight: bold;
}


.contactsSection {
    margin-bottom: 100px;
    padding-bottom: 100px;
}


table {
    margin: 0 auto;
    text-align: left;
}