:root {
  --body-bg-color: rgb(250, 245, 260);
  --body-font-color: grey;
  --titleName-bg-color: #4497d3;
  --socialMediaIcons-bg-color: #3377a8;
  --div-box-shadows: 3px 2px 2px rgb(197, 203, 214);
  --techExpertiseDivs-bg-color: #f5f2db;
  --experiencesDivs-bg-color: #dbeef6;
  --educationsDivs-bg-color: rgb(236, 221, 246);
  --languagesDivs-bg-color: rgb(254, 231, 195);
  --hobbiesDivs-bg-color: rgb(250, 209, 222);
  --subTitles-font-color: rgb(72, 87, 103);
  --darkModeButton-colort: #232b4c;
  /* --darkModeButton-colort-hover: rgba(255, 255, 255, 0.714); */
  --darkModeButton-colort-hover: black;
}


body {
  /* background-color: rgb(94, 172, 232); */
  background-color: var(--body-bg-color);
  color: var(--body-font-color);
}

body.dark {
  --body-bg-color: black;
  /* --skillIcons-bg-color: rgba(255, 255, 255, 0.323); */
  --titleName-bg-color: #3476a6;
  --skillIcons-bg-color: rgba(139, 139, 139, 0.323);
  --socialMediaIcons-bg-color: #1e4a69;
  --techExpertiseDivs-bg-color: #f5f2dbaf;
  --experiencesDivs-bg-color: #dbeef69e;
  --educationsDivs-bg-color: rgba(236, 221, 246, 0.665);
  --languagesDivs-bg-color: rgba(254, 231, 195, 0.525);
  --hobbiesDivs-bg-color: rgba(250, 209, 222, 0.666);
  --body-font-color: rgb(232, 230, 230);
  --subTitles-font-color: white;
  --darkModeButton-colort: rgba(255, 255, 255, 0.807);
  --darkModeButton-colort-hover: white;
  --div-box-shadows: none;
}


.titleName {
  background-color: var(--titleName-bg-color);
}

.socialMediaIcons {
  background-color: var(--socialMediaIcons-bg-color);
}

.skillIcons {
  /* background-color: white; */
  background-color: var(--skillIcons-bg-color);

}

.techExpertiseDivs,
.experiencesDivs,
.educationsDivs,
.languagesDivs,
.hobbiesDivs,
.inquiryFormDivs {
  box-shadow: var(--div-box-shadows);

}


.techExpertiseDivs {
  background-color: var(--techExpertiseDivs-bg-color);
}


.experiencesDivs {
  background-color: var(--experiencesDivs-bg-color);
}


.experienceWoltTitleAndRef,
.educationChikuzenTitleAndRef {
  color: var(--body-font-color);
}


.educationsDivs {
  background-color: var(--educationsDivs-bg-color);
}


.languagesDivs {
  background-color: var(--languagesDivs-bg-color);
}


.hobbiesDivs {
  /* background-color: rgb(250, 209, 222); */
  background-color: var(--hobbiesDivs-bg-color);
}


.subTitles {
  color: var(--subTitles-font-color);
}

.darkModeTitle {
  color: var(--darkModeButton-colort);
}


.darkModeIcon {
  fill: var(--darkModeButton-colort);
}

.darkModeIcon:hover {
  fill: var(--darkModeButton-colort-hover);
}